.cont {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.coloured {
  background-color: lightcoral;
}

.flexnone {
  flex: none;
}

.flexauto {
  flex: auto;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.widthauto {
  width: 50%;
}

.centerteddiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.noaccount {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nounderline:hover {
  text-decoration: none;
}

.profilediv {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
}

.usercard {
  width: 400px;
  flex: none;
  padding: 10px;
}

.userhistory {
  flex: auto;
  padding: 10px;
}

.usergroups {
  width: 200px;
  flex: none;
  padding: 10px;
}

.signbtn {
  margin-top: 10px;
  width: 140px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.signbtn:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.googlebtn {
  width: 160px;
  background-color: lightcoral;
  color: white;
}

.authdiv {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hometext {
  text-align: start;
}

.homeblock {
  align-items: flex-end;
}

.homeblockmid {
  align-items: flex-start;
}

.homebtn {
  width: 140px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: large;
  color: white;
  background-color: rgb(18, 206, 175);
}

.homebtn:hover {
  background-color: rgb(17, 189, 160);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}

.bump:hover {
  transform: translateY(-7px);
}

/* 1100 */
@media screen and (max-width: 990px) {
  .hometext {
    text-align: center;
  }

  .homeblock {
    align-items: center;
  }

  .homereverse {
    flex-direction: column-reverse;
  }
}

.courseSearchInputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.courseSearchInput {
  padding: 5px;
}

.searchform {
  padding-left: 20px;
}

.courseslist {
  padding: 0 20px;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.coursebtn {
  width: 100%;
  padding: 10px;
  border: 10px rgb(49, 49, 49) !important;
  border-radius: 10px;
  display: flex;
}

.listdiv {
  padding: 10px 0;
}

.btndiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.3);
}

.btndiv:hover {
  background-color: #efefef;
  cursor: pointer;
}

.title {
  font-weight: bold;
}

.testedBtn {
  width: 160px;
  background-color: lightgreen;
  color: white;
}

.loanspagetitile {
  padding-top: 10px;
  padding-left: 20px;
}

.loanlist {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  background-image: url(https://talloiresnetwork.tufts.edu/wp-content/uploads/TCD-header1.jpg);
  position: relative;
  width: 100%;
  height: 150px;
  text-align: left ;
}

.body {
  padding-top: 50px;
  padding-left:20px;
  position: relative;
  width: 100%;
  height: 500px;
  text-align: left;
}


.floatdown {
  border-radius: 50%;
  position: absolute;
  width: 90px;
  height: 90px;
  border: 2px solid #ddd;
  top: 100px;
  left: 20px;
}
