.cont {
  height: 100vh;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}

.coloured {
  background-color: lightcoral;
}

.flexnone {
  flex: none;
}

.flexauto {
  flex: auto;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.widthauto {
  width: 50%;
}

.centerteddiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.noaccount {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nounderline:hover {
  text-decoration: none;
}

.profilediv {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
}

.usercard {
  width: 400px;
  flex: none;
  padding: 10px;
}

.userhistory {
  flex: auto;
  padding: 10px;
}

.usergroups {
  width: 200px;
  flex: none;
  padding: 10px;
}

.signbtn {
  margin-top: 10px;
  width: 140px;
  height: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.signbtn:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.googlebtn {
  width: 160px;
  background-color: lightcoral;
  color: white;
}

.authdiv {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coursesearchdiv {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: lightblue;
}

.searchcont {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.searchleft {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 20%;
}

.searchdash {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.3);
}

.searchright {
  padding: 10px 20px;
  width: 80%;
}

@media screen and (max-width: 1100px) {
  .searchcont {
    flex-direction: column;
  }

  .searchleft {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 0px;
  }

  .searchright {
    width: 100%;
  }
}

.courseSearchInputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.courseSearchInput {
  padding: 5px;
}

.searchform {
  padding-left: 20px;
}

.courseslist {
  padding: 0 20px;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.coursebtn {
  width: 100%;
  padding: 10px;
  border: 10px rgb(49, 49, 49) !important;
  border-radius: 10px;
  display: flex;
}

.listdiv {
  padding: 10px 0;
}

.btndiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.3);
}

.btndiv:hover {
  background-color: #efefef;
  cursor: pointer;
}

.title {
  font-weight: bold;
}

.home-img-div {
  width: 100%;
  height: 100%;
  background-image: url(./assets/splash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-glass {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.home-text-div {
  color: rgb(80, 80, 80);
  position: absolute;
  width: 30%;
  top: 30%;
  left: 20%;
  z-index: 2;
  text-align: left;
}

.testedBtn {
  width: 160px;
  background-color: lightgreen;
  color: white;
}

.loanspagetitile {
  padding-top: 10px;
  padding-left: 20px;
}

.loanlist {
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  background-image: url(https://talloiresnetwork.tufts.edu/wp-content/uploads/TCD-header1.jpg);
  position: relative;
  width: 100%;
  height: 150px;
  border: 2px solid #000;
  text-align: right;
}

.body {

  position: relative;
  width: 100%;
  border: 2px solid #000;
  height: 500px;
  text-align: right;
}

img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 2px solid #ddd;
}

.floatdown {
  position: absolute;
  top: 100px;
  left: 20px;
}